/*!
 * https://github.com/enkia/tokyo-night-vscode-theme
 * https://github.com/folke/tokyonight.nvim
 */

code[class*='language-'],
pre[class*='language-'] {
	color: #c0caf5;
  background: #16161e;
  text-wrap: wrap;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
	text-shadow: none;
	background: #16161e;
  padding: 8px;
  border-radius: 10px;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
	text-shadow: none;
	background: #6f7bb640;
  padding: 8px;
  border-radius: 10px;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	color: black;
	background: #24283b;
}

:not(pre) > code[class*='language-'] {
	border-radius: 0.3em;
	white-space: normal;
  background: #c0caf5;
  color: black;
}

.token.comment {
	color: #565f89;
	font-style: italic;
}

.token.keyword {
	color: #9d7cd8;
}

.token.operator {
	color: #89ddff;
}

.token.punctuation {
	color: #bb9af7;
}

.token.builtin {
	color: #f7768e;
}

.token.number {
	color: #ff9e64;
}

.token.constant {
	color: #ff9e64;
}

.token.string {
	color: #9ece6a;
}

.token.symbol {
	color: #2ac3de;
}

.token.attr-name {
	color: rgb(241, 250, 140);
}

.token.selector {
	color: #9ece6a;
}

.token.hexcode {
	color: #9aa5ce;
}

.token.function {
	color: #7aa2f7;
}

.token.tag {
	color: #9ece6a;
}

.token.variable {
	color: #c0caf5;
}

.token.char {
	color: #bb9af7;
}

.token.property {
	color: #2ac3de;
}

.token.inserted {
	color: #449dab;
}

.token.deleted {
	color: #914c54;
}

.token.changed {
	color: #6183bb;
}

.token.regex {
	color: #b4f9f8;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

:root {
	--am-prism-line-numbers-color: #565f8977;
	--am-prism-border-color: #565f8922;
	--am-prism-copy-color: #a9b1d6;
	--am-prism-copy-bg: #565f8933;
}
h2:before, h3:before{
  content: '# ';
}
